/* style.css */
body {
  font-family: 'Century Gothic', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.card-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 120px;
  height: 120px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background-color: white;
  cursor: pointer;
  user-select: none;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  color: transparent;
}

.card.flipped {
  background-color: #eee; /* Change this color to a lighter shade of gray */
  color: black;
  pointer-events: none;
}

#start-button {
  margin-bottom: 20px;
}
